* {
    margin: 0;
    padding: 0;
}
body {
    background: #f7f7f7;
    font-family: Roboto, Helvetica;
}
#modal {
    position: fixed;
    left: 20%;
    top: 5%;
    width: 60%;
    height: 90%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, .1);
    overflow: hidden;
}
#modal > div {
    height: 90%;
    width: 90%;
    padding: 5% 5%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: ease .6s;
}
#modal > div img {
    width: 100px;
}
#modal > div p {
    font-size: 18px;
}
button {
    border: none;
    background: none;
    border-radius: 5px;
    padding: 10px 25px;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, .1);
    cursor: pointer;
    transition: ease .3s;
}
button.black {
    background-color: black;
    color: white;
}
button.gray {
    background-color: gray;
    color: white;
}
button.black:hover,
button.gray:hover {
    background-color: white;
    color: black;
}
button:disabled {
    cursor: default;
    color: gray;
}
button.gray:disabled {
    color: white;
}
button.black:disabled:hover {
    background-color: black;
    color: gray;
}
button.gray:disabled:hover {
    background-color: gray;
    color: white;
}
#step-2 > div,
#step-3 > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}
#step-2 > div label,
#step-3 > div label {
    text-align: right;
    flex-grow: 1;
}
#step-2 > div div,
#step-3 > div div {
    margin-left: 15px;
    min-width: 200px;
    display: flex;
    justify-content: center;
}